<section id="products__header">
    <div class="products__header">
        <div class="products__header--description">
            <h1>RUTEA PERÚ STORE</h1>
            <h3>¡Encuentra lo que necesitas para tu viaje y más!</h3>
        </div>
        <img src="../../../assets/productsBG.jpg" alt="" class="products__bg">
    </div>
</section>
<section id="products__list">
    <app-search></app-search>
    <app-tags></app-tags>
    <app-empty-store [visible]="!products || !products.length" resetLinkText="Reiniciar búsqueda" resetLinkRoute="/store"></app-empty-store>
    <ul>
        <li *ngFor="let product of products">
            <a routerLink="/product/{{product.id}}">
                <img [src]='product.imageUrl' [alt]='product.name'>
                <div class="product__content">
                    <div class="product__name">
                        {{product.name}}
                    </div>
                    <span class="favorite {{product.favorite?'':'not'}}">
                        <fa-icon [icon]="heartIcon"></fa-icon>
                    </span>
                    <div class="product__stars">
                        <star-rating [starType]="'svg'" [rating]="product.stars" staticColor="ok"></star-rating>
                    </div>
                    <div class="product__footer">
                        <div class="product__brand">
                            {{product.brand}}
                        </div>
                        <div class="product__price">
                            {{'S/.' + product.price}}
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</section>
