<section id="products__header">
    <div class="products__header">
        <div class="products__header--description">
            <h1>RUTEA PERÚ STORE</h1>
            <h3>¡Encuentra lo que necesitas para tu viaje y más!</h3>
        </div>
        <img src="../../../assets/productsBG.jpg" alt="" class="products__bg">
    </div>
</section>
<section id="products__list">
    <ul>
        <li *ngFor="let product of products">
            <a routerLink="/store/{{product.id}}">
                <img [src]='product.imageUrl' [alt]='product.name'>
                <div class="product__content">
                    <div class="product__name">
                        {{product.name}}
                    </div>
                    <span class="favorite {{product.favorite?'':'not'}}">
                        <fa-icon [icon]="heartIcon"></fa-icon>
                    </span>
                    <div class="product__stars">
                        <star-rating [value]="product.stars" [totalstars]="5" checkedcolor="gold" uncheckedcolor="black"
                            size="22px" [readonly]="true"></star-rating>
                    </div>
                    <div class="product__footer">
                        <div class="product__brand">
                            {{product.brand}}
                        </div>
                        <div class="product__price">
                            {{'S/.' + product.price}}
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</section>
