footer {
  background: #000;
  color: white;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}

.container > p {
  margin-top: 20px;
}

.footer__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.footer__list > li {
  margin: 10px 20px;
}

@media (max-width: 480px) {
  .footer__list > li {
    margin: 8px 10px;
  }

  .container {
    justify-content: flex-end;
  }
}

@media (max-width: 360px) {
  .footer__list {
    margin-top: 20px;
  }
}