.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  position: relative;
}

.nav__logo--wrapper {
  overflow: hidden;
  position: relative;
  height: 80px;
  width: 160px;
}

.nav__logo {
  object-fit: contain;
  position: absolute;
  top: -20px;
  height: 120px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  max-width: 750px;
  min-width: 600px;
  align-items: center;
}

nav {
  border-bottom: 2px solid var(--rutea-color);
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
}

.nav__link {
  color: gray;
  position: relative;
  transition: font-weight 100ms ease-in-out;
}

.nav__link::before {
  content: "";
  position: absolute;
  border-bottom: 3px solid var(--rutea-color);
  left: 0;
  right: 0;
  opacity: 0;
  top: 20px;
  transform: scale(0);
  transition: all 300ms ease-in-out;
}

.nav__link:hover {
  color: var(--rutea-color);
  font-weight: 600;
}

.nav__link:hover::before {
  opacity: 1;
  transform: scale(1);
}

.nav__cart {
  color: var(--rutea-color);
}

li > a {
  position: relative;
}

.nav__cart--quantity {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: white;
  padding: 0.16rem;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: 4.5px;
  left: 8px;
}

fa-icon {
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--rutea-color);
  top: 20px;
  left: 20px;
  right: 20px;
  height: 400px;
  padding: 20px;
  border-radius: 20px;
  z-index: 99;
  animation: openMenu 450ms ease-in-out;
}

@keyframes openMenu {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  80% {
    transform: translateX(-5%);
    opacity: 0.85;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.backdrop__ul {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.backdrop__ul > li {
  font-size: 24px;
}

.backdrop__ul > li > a {
  text-decoration: none;
  color: var(--rutea-color);
}

.exit__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: var(--rutea-color);
}

@media (max-width: 876px) {
  .nav__list {
    display: none;
  }

  fa-icon {
    display: block;
    font-size: 24px;
    color: var(--rutea-color);
    cursor: pointer;
  }
}