<nav>
    <div class="container">
        <a routerLink="/">
            <figure class="nav__logo--wrapper">
                <img src="../../../assets/Logo.jpg" alt="" class="nav__logo">
            </figure>
        </a>
        <ul class="nav__list">
            <li>
                <a class="nav__link nav__link--hover" routerLink="/">Inicio</a>
            </li>
            <li>
                <a class="nav__link nav__link--hover" routerLink="/travel">Viaja y Aprende</a>
            </li>
            <li>
                <a class="nav__link nav__link--hover" routerLink="/more">Más Servicios</a>
            </li>
            <li>
                <a class="nav__link nav__link--hover" routerLink="/blog">Blog</a>
            </li>
            <li>
                <a class="nav__link nav__link--hover" routerLink="/store">Rutea Perú Store</a>
            </li>
            <li>
                <a routerLink="/cart">
                    <mat-icon class="nav__cart">shopping_cart</mat-icon><span class="nav__cart--quantity" *ngIf="cartQuantity">{{cartQuantity}}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>