<nav>
    <div class="container">
        <a routerLink="/">
            <figure class="nav__logo--wrapper">
                <img src="../../../assets/Logo.jpg" alt="" class="nav__logo">
            </figure>
        </a>
        <ul class="nav__list">
            <li>
                <a class="nav__link nav__link--hover" routerLink="/">Inicio</a>
            </li>
            <li>
                <a class="nav__link nav__link--hover" routerLink="/travel">Viaja y Aprende</a>
            </li>
            <li>
                <a class="nav__link nav__link--hover" routerLink="/more">Más Servicios</a>
            </li>
            <li>
                <a class="nav__link nav__link--hover" routerLink="/blog">Blog</a>
            </li>
            <li>
                <a class="nav__link nav__link--hover" routerLink="/store">Rutea Perú Store</a>
            </li>
            <li>
                <a routerLink="/cart">
                    <mat-icon class="nav__cart">shopping_cart</mat-icon><span class="nav__cart--quantity" *ngIf="cartQuantity">{{cartQuantity}}</span>
                </a>
            </li>
        </ul>
        <fa-icon [icon]="barsIcon" (click)="showMenu()"></fa-icon>
        
        <div *ngIf="menuVisible" class="menu__backdrop">
            <ul class="backdrop__ul">
                <li><a routerLink="/">Inicio</a></li>
                <li><a routerLink="/travel">Viaja y Aprende</a></li>
                <li><a routerLink="/more">Más servicios</a></li>
                <li><a routerLink="/blog">Blog</a></li>
                <li><a routerLink="/store">Rutea Perú Store</a></li>
            </ul>
            <fa-icon [icon]="xIcon" (click)="showMenu()" class="exit__icon"></fa-icon>
        </div>
    </div>
</nav>