<section id="landing">
    <div class="bg__wrapper"><img src="../../../../assets/LandingBG.jpg" class="bg__image" alt=""></div>
    <div class="landing__content">
            <h1>Vive nuevas experiencias de viaje con <span style="color: var(--rutea-color);">Rutea Perú</span></h1>
            <h3 style="color: var(--rutea-color); margin: 12px 0;">Viaje, Descubra, Experimente, Aprenda</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos odio distinctio explicabo obcaecati quam
                est ad
                repudiandae magnam reprehenderit doloribus. Eaque ad tempora assumenda velit quam sint ea voluptatem
                perspiciatis aliquam praesentium dignissimos, officiis voluptates consequuntur asperiores qui dolorem
                veritatis, commodi voluptas cumque, odio reiciendis ipsa. Esse quibusdam molestias velit, tempore
                incidunt
                modi cum optio deleniti qui est, maxime incidunt quia velit ex minus ullam excepturi dolore pariatur
                tempore autem ut minima praesentium explicabo?</p>
            <button class="landing__btn hover">Viaja y Aprende <fa-icon [icon]="chevronRight"></fa-icon></button>
    </div>
</section>