#landing {
  height: 100vh;
  background-color: rgba(4, 53, 122, 0.48);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  position: relative;
}

.bg__image {
  object-fit: cover;
  top: -60%;
  width: 100%;
  height: 100%;
}

.bg__wrapper {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.landing__content {
  position:  absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 40%;
  padding: 32px;
  background-color: rgba(255, 255, 255, 0.62);
}

.landing__btn {
  cursor: pointer;
  margin-top: 16px;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  background-color: rgba(53, 126, 236, 0.48);
  color: white;
  font-weight: 600;
  letter-spacing: 1.5px;
  transition: transform 200ms ease-in-out;
}

.landing__btn:hover {
  transform: translateY(-6px) scale(1.07);
  background-color: var(--rutea-color);
}

.landing_img-container {
  position: absolute;
  right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 60%;
}

.landing__img--box {
  height: 300px;
  width: 25%;
  margin: 0 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.landing__img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@media (max-width: 1028px) {
  .landing__img--box {
    width: 31%;
    height: 46%;
    margin-top: 10px;
    justify-content: center;
  }

  .landing__img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .landing_img-container {
    height: 500px;
    justify-content: space-around;
    left: 435px;
    width: 55%;
  }
}

@media (max-width: 912px) {
  .landing__img--box {
    width: 30%;
    justify-content: center;
  }

  .landing_img-container {
    justify-content: center;
    left: 395px;
    height: 400px;
  }
}

@media (max-width: 764px) {
  .landing_img-container {
    display: none;
  }
}
/** Seccion 2 */

#landing2 {
  height: 80vh;
  background-color: rgba(4, 53, 122, 0.48);
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
}

.landing__content--2 {
  position:  absolute;
  top: 40%;
  transform: translateY(-50%);
  right: 0;
  width: 40%;
  padding: 32px;
  background-color: rgb(135, 176, 234);
}

.landing__content--2 > h1 {
  margin-bottom: 20px;
}

.bg__image--2 {
  object-position: left 16%;
}

.bg__wrapper-2 {
  top: 0;
}

/** Productos */
#products {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products__img--wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.products__img {
  position: absolute;
  object-fit: cover;
  top: 0;
  width: 100%;
  height: 100%;
}

.products__container {
  display: flex;
  background-color: rgb(135, 176, 234);
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
  height: 70%;
  border: 1px solid var(--rutea-color);
  overflow: hidden;
  z-index: 1;
  margin: 0 20px;
}

.products__description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 40%;
}

.products__description > p {
  margin-top: 16px;
  margin-bottom: 10px;
}

.products__grid {
  width: 60%;
}

.product {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 1px solid var(--rutea-color);
}

.product > img {
  object-fit: cover;
  object-position: right;
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .landing__content {
    width: 460px;
  }
}

@media (max-width: 876px) {
  .products__container {
    flex-direction: column;
    height: 90%;
  }

  .products__grid {
    width: 100%;
    height: 50%;
  }
  .products__description {
    height: 50%;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .products__description > h1 {
    font-size: 20px;
  }

  .products__description > p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {

  .products__grid {
    height: 40%;
  }

  .products__description {
    height: 60%;
    padding: 20px;
  }

  .landing__content {
    width: 90%;
    padding: 16px;
    left: auto;
  }

  .landing__content > h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  .landing__content > p {
    font-size: 12px;
  }

  .landing__btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .landing__btn:hover {
    transform: translate(-50%,-6px) scale(1.07);
  }

  .store__btn {
    left: 0%;
    transform: translateX(0);
  }

  .store__btn:hover {
    transform: translate(0, -6px) scale(1.07);
  }
}
