<section id="landing">
    <div class="bg__wrapper"><img src="../../../../assets/LandingBG.jpg" class="bg__image" alt=""></div>
    <div class="landing__content">
            <h1>Vive nuevas experiencias de viaje con <span style="color: var(--rutea-color);">Rutea Perú</span></h1>
            <h3 style="color: var(--rutea-color); margin: 12px 0;">Viaja, Descubre y Aprende</h3>
            <p>Nuestro país tiene una gran variedad de atractivos naturales para visitar: playas, valles andinos, montañas y nevados, volcanes, la jungla amazónica y muchísimos más. El Geoturismo nos acerca a conocer y entender cada uno de los paisajes naturales que hay a nuestro alrededor relacionados con las Ciencias de la Tierra promoviendo el desarrollo del patrimonio geológico y una cultura de respeto hacia la naturaleza.</p>
            <button class="landing__btn" routerLink="/travel">Viaja y Aprende <fa-icon [icon]="chevronRight"></fa-icon></button>
    </div>
    <div class="landing_img-container">
        <div class="landing__img--box">
            <img src="../../../../assets/landingImgBox1.jpg" alt="" class="landing__img">
        </div>
        <div class="landing__img--box">
            <img src="../../../../assets/landingImgBox1.jpg" alt="" class="landing__img">
        </div>
        <div class="landing__img--box">
            <img src="../../../../assets/landingImgBox1.jpg" alt="" class="landing__img">
        </div>
    </div>
</section>
<section id="landing2">
    <div class="bg__wrapper"><img src="../../../../assets/Landing2BG.jpg" class="bg__image bg__image--2" alt=""></div>
    <div class="landing__content--2">
            <h1>Impulsando el <span style="color: var(--rutea-color);">Geoturismo</span></h1>
            <p>Cada vez más lugares de nuestro país son propuestos como Geoparques, nuestro equipo quiere contribuir con este fin visitando diferentes lugares rescatando su valor geológico. Tú puedes ser un protagonista más de este objetivo…</p>
            <button class="landing__btn" routerLink="/travel">Viaja y Aprende <fa-icon [icon]="chevronRight"></fa-icon></button>
    </div>
</section>
<section id="products">
    <div class="products__img--wrapper"><img src="../../../../assets/LandingProductsBG.jpg" class="products__img" alt=""></div>
    <div class="products__container">
        <div class="products__grid">
            <div class="product"><img src="../../../../assets/landingStoreBoxBG.jpg" alt=""></div>
        </div>
        <div class="products__description">
            <h1>Encuentra los mejores productos para tu viaje en <span style="color: var(--rutea-color);">Rutea Perú Store</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, optio sequi fuga expedita adipisci eius at similique nemo perspiciatis libero, recusandae suscipit deleniti labore perferendis ad sed esse repellendus quae tempora ullam aspernatur laborum aliquid assumenda autem? Sunt molestiae neque dolore commodi labore ipsum, sapiente recusandae temporibus expedita, quas reiciendis?</p>
            <button class="landing__btn store__btn" routerLink="/store">STORE</button>
        </div>
    </div>
</section>