<section id="landing">
    <div class="bg__wrapper"><img src="../../../../assets/LandingBG.jpg" class="bg__image" alt=""></div>
    <div class="landing__content">
            <h1>Vive nuevas experiencias de viaje con <span style="color: var(--rutea-color);">Rutea Perú</span></h1>
            <h3 style="color: var(--rutea-color); margin: 12px 0;">Viaje, Descubra, Experimente, Aprenda</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos odio distinctio explicabo obcaecati quam
                est ad
                repudiandae magnam reprehenderit doloribus. Eaque ad tempora assumenda velit quam sint ea voluptatem
                perspiciatis aliquam praesentium dignissimos, officiis voluptates consequuntur asperiores qui dolorem
                veritatis, commodi voluptas cumque, odio reiciendis ipsa. Esse quibusdam molestias velit, tempore
                incidunt
                modi cum optio deleniti qui est, maxime incidunt quia velit ex minus ullam excepturi dolore pariatur
                tempore autem ut minima praesentium explicabo?</p>
            <button class="landing__btn hover">Viaja y Aprende <fa-icon [icon]="chevronRight"></fa-icon></button>
    </div>
</section>
<section id="products">
    <div class="products__img--wrapper"><img src="../../../../assets/LandingProductsBG.jpg" class="products__img" alt=""></div>
    <div class="products__container">
        <div class="products__grid">
            <div class="product"><img src="../../../../assets/producto1.webp" alt=""></div>
            <div class="product"><img src="../../../../assets/producto2.jpg" alt=""></div>
            <div class="product"><img src="../../../../assets/producto3.jfif" alt=""></div>
            <div class="product"><img src="../../../../assets/producto4.webp" alt=""></div>
        </div>
        <div class="products__description">
            <h1>Encuentra los mejores productos para tu viaje en <span style="color: var(--rutea-color);">Rutea Perú Store</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, optio sequi fuga expedita adipisci eius at similique nemo perspiciatis libero, recusandae suscipit deleniti labore perferendis ad sed esse repellendus quae tempora ullam aspernatur laborum aliquid assumenda autem? Sunt molestiae neque dolore commodi labore ipsum, sapiente recusandae temporibus expedita, quas reiciendis?</p>
            <button class="landing__btn">STORE</button>
        </div>
    </div>
</section>