<div class="container">
    <img src="../../../assets/pageconstructionBG.jpeg" alt="">
    <div class="description">
        <h1>Página en construcción</h1>
        <h2>Disculpe las molestias pero esta página aún no se encuentra implementada</h2>
        <p>¡Manténgase pendiente a las últimas actualizaciones en nuestras redes!</p>
        <a href="https://www.facebook.com/profile.php?id=100063629130999" target="_blank"><fa-icon [icon]="fbIcon"></fa-icon></a>
        <button routerLink="/">Volver a Inicio</button>
    </div>
</div>