<section id="travel">
    <div class="travel__header">
        <h1>Conoce los mejores destinos para viajar y para aprender en <span style="color: var(--rutea-color);">Rutea
                Perú</span></h1>
        <h3>Elige entre una variedad de lugares para conocer, no dudes en ponerte en contacto con nosotros para recibir
            más información!</h3>
    </div>
    <div class="travels">
        <div class="travels__accordeon">
            <div class="travel__location right" id="A1">
                <div class="travel__img--wrapper">
                    <img src="../../../assets/travel1.jpg" alt="" class="travel__img travel__img--1">
                    <div class="travel__location--box box-right" (click)="handleClick('A1')">
                        <h2 class="travel__location--title">PARACAS</h2>
                        <h3> <span style="color: var(--rutea-color);"> VER MÁS <fa-icon [icon]="chevronDown"></fa-icon>
                            </span></h3>
                    </div>
                </div>
                <div class="travel__location--description">
                    <h1 class="travel__description--title">Descubre <span
                            style="color: var(--rutea-color);">PARACAS</span></h1>
                    <p class="travel__location--para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae,
                        omnis modi eius dolor possimus consequatur veniam minima recusandae alias ad rerum dolore vitae
                        quo fugiat ipsum expedita praesentium rem laboriosam.</p>
                    <a href="../../../assets/testFile.pdf" download="Itinerario" target="_blank">Ver Itinerario Completo
                        <fa-icon [icon]="fileIcon"></fa-icon></a>
                </div>
            </div>
            <div class="travel__location left" id="A2">
                <div class="travel__img--wrapper">
                    <img src="../../../assets/travel2.jpg" alt="" class="travel__img travel__img--2">
                    <div class="travel__location--box box-left" (click)="handleClick('A2')">
                        <h2 class="travel__location--title">SIERRA</h2>
                        <h3><span style="color: var(--rutea-color);"> VER MÁS <fa-icon [icon]="chevronDown"></fa-icon>
                            </span></h3>
                    </div>
                </div>
                <div class="travel__location--description">
                    <h1 class="travel__description--title">Descubre <span style="color: var(--rutea-color);">La
                            SIERRA</span></h1>
                    <p class="travel__location--para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae,
                        omnis modi eius dolor possimus consequatur veniam minima recusandae alias ad rerum dolore vitae
                        quo fugiat ipsum expedita praesentium rem laboriosam.</p>
                    <a href="../../../assets/testFile.pdf" download="Itinerario" target="_blank">Ver Itinerario Completo
                        <fa-icon [icon]="fileIcon"></fa-icon></a>
                </div>
            </div>
            <div class="travel__location right" id="A3">
                <div class="travel__img--wrapper">
                    <img src="../../../assets/travel3.jpg" alt="" class="travel__img travel__img--3">
                    <div class="travel__location--box box-right" (click)="handleClick('A3')">
                        <h2 class="travel__location--title">NORTE CHICO</h2>
                        <h3><span style="color: var(--rutea-color);"> VER MÁS <fa-icon [icon]="chevronDown"></fa-icon>
                            </span></h3>
                    </div>
                </div>
                <div class="travel__location--description">
                    <h1 class="travel__description--title">Descubre <span style="color: var(--rutea-color);">Norte
                            Chico</span></h1>
                    <p class="travel__location--para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae,
                        omnis modi eius dolor possimus consequatur veniam minima recusandae alias ad rerum dolore vitae
                        quo fugiat ipsum expedita praesentium rem laboriosam.</p>
                    <a href="../../../assets/testFile.pdf" download="Itinerario" target="_blank">Ver Itinerario Completo
                        <fa-icon [icon]="fileIcon"></fa-icon></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact">

</section>